oarepo[deploy-es7,acls,heartbeat,models,files,includes]~=3.2.1
Babel>=2.4.0
citeproc-py>=0.5.1
citeproc-py-styles>=0.1.2
Flask-BabelEx>=0.9.3
lxml>=3.5.0,<4.2.6
marshmallow>=3.0.0,<4.0.0
lorem>=0.1.1
names>=0.3.0
uwsgi>=2.0
uwsgi-tools>=1.1.1
uwsgitop>=0.11
WTForms==2.2.1
-e 3rdparty/invenio-cesnet-proxyidp
-e .
